{% extends 'base.html' %}

{% load static %}

{% block content %}
            {% for show in endedshow %}
                <div>img: <img src="media/{{ show.image }}" alt="{{ show.image }}" class="card-img-top" /></div>
                <div>show.title: {{ show.title }}</div>
                <div>show.date: {{ show.date }}</div>
                <div>show.count: {{ show.count }}</div>
                <div>show.animal_housing: {{ show.animal_housing }}</div>
                <div>show.descriptions: {{ show.descriptions }}</div>
                <div>show.slug: {{ show.slug }}</div>
            {% endfor %}
{% endblock %}

