{% extends 'base.html' %}

{% load static %}

{% block content %}


 <p>  заголовок:  {{show.title}} </p>
   <p>  информация:  {{show.info}}</p>
    <p>  количество животных: {{show.quantity}}</p>
    <p>  организатор: {{show.organizer}}</p>
    <p>  телефон: {{show.phone}}</p>
    <p>  дата выставки: {{show.date}}</p>

    {% for banner in banners %}
    <p>Баннер: {{ banner.name }}</p>
    <p>Изображение: <img src="{{ banner.photo.url }}" alt="{{ banner.name }}"></p>
{% endfor %}

    {% for animal in animals %}
       <p> имя: {{ animal.name }}</p>
       <p> фото : <img src="{{ animal.image_animals.url }}" alt="{{ animal.name }}"></p>
       <p> краткое описание: {{ animal.short_description }}</p>
    {% endfor %}



    {% for story in stores %}
        <p> фото истории: <img src="{{ story.photo.url }}" alt="{{ story.name }}"></p>
       <p> история: {{ story.story }}</p>
    {% endfor %}

    {% for location in locations %}
        <p> место проведения {{ location.place }}</p>
       <p> телефон организации {{ location.phone }}</p>
       <p> время проведения {{ location.duration }}</p>
    {% endfor %}

    {% for social_link in social_links %}

       <p> логотип соцсети <a href="{{ social_logo.url }}">{{ social_link.name }}</a></p>
       <p> ссылка на соцсеть{{ social_link.social_link }}</p>
    {% endfor %}

    {% for partner in partners %}
       <p> партнер <img src="{{ partner.logo.url }}" alt="{{ partner.name }}"></p>
       <p> ссылка на партнера {{ partner.partners_link }}</p>
    {% endfor %}


    <!-- Форма обратной связи -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ feedback_form.as_p }}
        <button type="submit" class="btn btn-dark">Отправить обратную связь</button>
    </form>

{% endblock %}